._login{
  height: 100%;
 
}

._col-background-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: linear-gradient(90deg, rgba(10,148,153,1) 0%, rgba(54,180,186,1) 19%, rgba(142,205,218,1) 100%);
}

._col-background-login h1{
  color: white;
 }
._login .login-form {
  width: 70%;
 
}
._col-login {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
._login .login-form-forgot {
  float: right;
}
._login .ant-col-rtl .login-form-forgot {
  float: left;
}
._login .login-form-button {
  width: 100%;
}

.Form.Item {
  width: 50%;
}