._map-container .ant-row ._map-image-box img{
  width: 500px;
  height: 600px;
}

._lent {
  color: red;
}

._nolent {
  color: green;
}

._near-expire {
  color: orange;
}


._map-container {
  float: left;
  width: 70%;
  height: 100vh;
}
._map-info{
  width: 30%;
  float: left;
}
._map-handle{
  width: 29%;
  float: right;
}