.navbar {
    display: flex;
    width: 100%;
    background: linear-gradient(90deg, rgba(10,148,153,1) 0%, rgba(54,180,186,1) 19%, rgba(142,205,218,1) 100%);
    /* padding: 1%; */
}
.navbar-nav{
    width: 100%; 
}

.navbar-dark .navbar-nav .nav-link{
    color: white;
}

.navbar-dark .navbar-nav .nav-link.active{
    border-bottom: 2px solid;
}

._header{
    position: sticky;
    top: 0;
    z-index: 1;
}

._nav-link {
    padding: 15px;
    color: white !important;
}

._nav-link:hover{
   cursor: pointer;
   color: antiquewhite !important;
}